<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="/javascript/uikit.js"></script>
  <script src="/javascript/uikit-icons.js"></script>
  <script src="/javascript/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="/css/uikit.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
</head>

<body class="uk-margin-remove" onload="loadAllBooks()">
  <div id="body" class="uk-background-secondary" uk-height-viewport>
    <div id="searchdiv" class="uk-position-left">
      <div class="uk-position-top-center uk-margin-top" id="main">
        <h2 class="uk-text-success uk-align-center" id="username" style="display: none">{{ username }}</h2>
        <div class="uk-inline uk-margin">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: database"></span>
          <input class="uk-input txt" type="text" name="search" id="search">
        </div><br>
        <div class="uk-inline uk-margin">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: search"></span>
          <button class="button uk-button uk-button-default" onclick="seraching()">Search</button>
        </div><br>

        <div class="uk-inline">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: arrow-left"></span>
          <a onclick="window.history.back()"><button class="button uk-button uk-button-default">Back</button></a>
        </div>
      </div>
    </div>
    <div class = "uk-position-top-center">
      <ol id="allbooks">
      </ol>
    </div>
  </div>
  <script src="/javascript/allbooks.js">
  </script>
</body>

</html>