<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="/javascript/uikit.js"></script>
  <script src="/javascript/uikit-icons.js"></script>
  <script src="/javascript/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="/css/uikit.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
</head>

<body class="uk-margin-remove">
  <div id="body" class="uk-background-secondary" uk-height-viewport>
    <div class="uk-margin-top" id="main">
      <table class="uk-table uk-table-striped uk-align-left uk-margin-remove">
        <tr>
          <th>Szerzo</th>
          <th>Cim</th>
        </tr>
        {{#each book}}

          <tr>
            <th>{{ this.author }}</th>
            <th>{{ this.title }}</th>
          </tr>

        {{/each }}
      </table>

      <div class="uk-inline">
        <span class="uk-form-icon uk-text-primary" uk-icon="icon: arrow-left"></span>
        <a onclick="window.history.back()"><button class="button uk-button uk-button-default">Back</button></a>
      </div>
    </div>
  </div>
</body>

</html>