<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="/javascript/uikit.js"></script>
  <script src="/javascript/uikit-icons.js"></script>
  <script src="/javascript/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="/css/uikit.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="uk-margin-remove">
  <div id="body" class="uk-background-secondary" uk-height-viewport>
    <div class="uk-position-top-center uk-margin-top" id="main">
      <h1 class="uk-text-primary uk-align-center">
        Guest
      </h1>
      <form action="/listg" method="GET" enctype="multipart/form-data">
      <div class="uk-inline uk-margin">
        <span class="uk-form-icon uk-text-primary" uk-icon="icon: list"></span>
        <input type="submit" class="button uk-button uk-button-default" value="List books">
      </div>
      </form>
       <div class="uk-inline">
        <span class="uk-form-icon uk-text-primary" uk-icon="icon: arrow-left"></span>
        <a onclick="window.history.back()"><button class="button uk-button uk-button-default">Back</button></a>
      </div>
    </div>
  </div>
</body>

</html>