<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="/javascript/uikit.js"></script>
  <script src="/javascript/uikit-icons.js"></script>
  <script src="/javascript/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="/css/uikit.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="uk-margin-remove">
  <div id="body" class="uk-background-secondary" uk-height-viewport>
    <div class="uk-position-top-center uk-margin-top" id="main">
      <h2 class="uk-text-success uk-align-center" id="username">
        {{ username }}
      </h2>
      <form action="/modification" class="uk-margin-small" method="GET" enctype="multipart/form-data">
        <div class="uk-inline uk-margin">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: push"></span>
          <input type="submit" class="button uk-button uk-button-default" value="Modification">
        </div>
      </form>
      <form action="/listbooks" method="GET" enctype="multipart/form-data">
        <div class="uk-inline uk-margin">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: list"></span>
          <input type="submit" class="button uk-button uk-button-default" value="List books">
        </div>
      </form>
      <form action="/mymessage" method="GET" enctype="multipart/form-data">
        <div class="uk-inline uk-margin">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: comment"></span>
          <input type="submit" class="button uk-button uk-button-default" value="My messages">
        </div>

      </form>
      <form action="/logout" method="POST" enctype="multipart/form-data">
        <input type="text" name="username" id="username" style="display:none;" value={{{ username2 }}}><br>
        <div class="uk-inline">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: sign-out"></span>
          <input type="submit" class="button uk-button uk-button-default" value="Log out">
        </div>

      </form>
      <script src="/javascript/message.js"></script>
    </div>
  </div>
</body>

</html>