<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="/javascript/uikit.js"></script>
  <script src="/javascript/uikit-icons.js"></script>
  <script src="/javascript/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="/css/uikit.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/javascript/message.js"></script>
</head>

<body class="uk-margin-remove" onload="fillMessage()">
  <p id="all" hidden>{{ all }}</p>
  <p id="user" hidden>{{ user }}</p>
  <div id="body" class="uk-background-secondary" uk-height-viewport>
    <div class="uk-position-top-center uk-margin-top" id="main">
      <ul class="uk-list uk-list-striped" id="allMessage">
      </ul>
      <div class="uk-inline">
        <span class="uk-form-icon uk-text-primary" uk-icon="icon: arrow-left"></span>
        <a onclick="window.history.back()"><button class="button uk-button uk-button-default">Back</button></a>
      </div>
    </div>
</body>

</html>