<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <script src="/javascript/uikit.js"></script>
  <script src="/javascript/uikit-icons.js"></script>
  <script src="/javascript/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="/css/uikit.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message</title>
</head>

<body class="uk-margin-remove">
  <div id="body" class="uk-background-secondary" uk-height-viewport>
    <div class="uk-position-top-center uk-margin-top" id="main">
      <h1>
        {{ status }}
      </h1>
      <p>
        {{ message }}
      </p>
      <div class="uk-inline">
        <span class="uk-form-icon uk-text-primary" uk-icon="icon: arrow-left"></span>
        <a onclick="window.history.back()"><button class="button uk-button uk-button-default">Back</button></a>
      </div>
    </div>
  </div>
</body>

</html>