<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="/javascript/uikit.js"></script>
  <script src="/javascript/uikit-icons.js"></script>
  <script src="/javascript/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="/css/uikit.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modification</title>
</head>

<body onload = "modLoad()" class="uk-margin-remove">
  <div id="body" class="uk-background-secondary" uk-height-viewport>
    <div class="uk-position-top-center uk-margin-top" id="main">
      <h2 class="uk-text-primary uk-align-center" id="username">
        {{ username }}
      </h2>
      <form class="uk-align-center uk-margin" onsubmit="putData()" enctype="multipart/form-data">
        <label class="uk-label  uk-background-secondary uk-light" for="username">Username:</label><br>
        <input class="txt uk-input" type="text" name="name" id="name"><br>
        <label class="uk-label uk-background-secondary uk-light" for="email">E-mail:</label><br>
        <input class="txt uk-input" type="email" name="emailcim" id="emailcim"><br>
        <label class="uk-label uk-background-secondary uk-light" for="password">Password:</label><br>
        <input class="txt uk-input" type="password" name="password" id="password"><br>
        <div class="uk-inline">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: plus"></span>
          <input type="submit" class="button uk-button uk-button-default uk-margin" value="Modification">
        </div>
      </form>
      <div class="uk-inline">
        <span class="uk-form-icon uk-text-primary" uk-icon="icon: arrow-left"></span>
        <a onclick="window.history.back()"><button class="button uk-button uk-button-default">Back</button></a>
      </div>
    </div>
  </div>
  <script src="/javascript/alluser.js"></script>
</body>

</html>