<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="/javascript/uikit.js"></script>
  <script src="/javascript/uikit-icons.js"></script>
  <script src="/javascript/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="/css/uikit.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>

<body class="uk-margin-remove">
  <div id="body" class="uk-background-secondary" uk-height-viewport>
    <div class="uk-position-top-center uk-margin-top" id="main">
      <form action="/add" method="POST" enctype="multipart/form-data">
        <label class="uk-label  uk-background-secondary uk-light" for="isbn">ISBN</label><br>
        <input class="txt uk-input" type="text" name="isbn" id="isbn" required pattern="[0-9]+"><br>

        <label class="uk-label  uk-background-secondary uk-light" for="title">Cim</label><br>
        <input class="txt uk-input" type="text" name="title" id="title" required><br>

        <label class="uk-label  uk-background-secondary uk-light" for="author">Szerzo</label><br>
        <input class="txt uk-input" type="text" name="author" id="author" required><br>

        <label class="uk-label  uk-background-secondary uk-light" for="year">Kiadasi Ev</label><br>
        <input class="txt uk-input" type="number" name="year" id="year" required pattern="[1-9]{1}[0-9]{3}"><br>

        <label class="uk-label  uk-background-secondary uk-light" for="content">Tartalom</label><br>
        <input class="txt uk-input" type="text" name="content" id="content" required><br>

        <label class="uk-label  uk-background-secondary uk-light" for="file">Boritokep</label><br>
        <input class="txt uk-input" type="file" name="file" id="file" alt="file" accept="image/jpeg, image/png" required><br>

        <label class="uk-label  uk-background-secondary uk-light" for="nr">Peldanyszam</label><br>
        <input class="txt uk-input" type="number" name="nr" id="nr" required><br>
        <div class="uk-inline">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: plus"></span>
          <input type="submit" class="button uk-button uk-button-default uk-margin" value="Submit">
        </div>
      </form>
      <div class="uk-inline">
        <span class="uk-form-icon uk-text-primary" uk-icon="icon: arrow-left"></span>
        <a onclick="window.history.back()"><button class="button uk-button uk-button-default">Back</button></a>
      </div>
    </div>
  </div>
</body>

</html>