<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="/javascript/uikit.js"></script>
  <script src="/javascript/uikit-icons.js"></script>
  <script src="/javascript/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="/css/uikit.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
</head>

<body class="uk-margin-remove" onload="loadAllUser()">
  <div id="body" class="uk-background-secondary" uk-height-viewport>
    <div id="searchdiv" class="uk-position-left">
      <div class="uk-position-top-center uk-margin-top" id="main">
        <div class="uk-inline uk-margin">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: database"></span>
          <input class = "uk-input txt" type="text" name="name" id="name">
        </div><br>
        <div class="uk-inline uk-margin">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: search"></span>
          <button class="button uk-button uk-button-default" onclick="searcuser()">Search</button>
        </div><br>
        <div class="uk-inline">
          <span class="uk-form-icon uk-text-primary" uk-icon="icon: arrow-left"></span>
          <a onclick="window.history.back()"><button class="button uk-button uk-button-default">Back</button></a>
        </div>
      </div>
    </div>
    <div class="uk-position-top-center">
      <ul id="allusers">
      </ul>
    </div>
  </div>
  <script src="/javascript/alluser.js"></script>
</body>

</html>