.main {
  margin: 0 auto;
  width: 250px;
  height: 500px;
  align-content: center;
  align-items: center;
  font-family: cursive;
}

.button {
  font-family: cursive;
}

a:-webkit-any-link {
  color: black;
  cursor: context-menu;
  text-decoration: none;
}